# History files
.Rhistory
# Example code in package build process
*-Ex.R
# R data files from past sessions
.Rdata
.Rproj.user
Team2.Rproj
inclass/*.html
homework/homework*.html
HW1/HW1.html
exercise1.html
sta601/lab2.R
sta601/lab2.Rmd
Homework2-Task1.R
.DS_Store

inclass/roads.RData

# Homework 2
HW2/lq/*
HW2/dennys/*
HW2/Data/*
HW2/*.html
HW2/.nfs00000000019b74f90000009c

# Homework 3
HW3/*.json
HW3/*.geojson