# History files
.Rhistory
# Example code in package build process
*-Ex.R
# R data files from past sessions
.Rdata
.Rproj.user
Team2.Rproj
inclass/*.html
homework/homework*.html
HW1/HW1.html
exercise1.html
sta601/lab2.R
sta601/lab2.Rmd
Homework2-Task1.R
.DS_Store
HW2/lq/.txt
HW2/makefile1
HW2/HW2.html
HW2/.nfs00000000019b74f90000009c
inclass/roads.RData
.RData
HW3/*.RData
HW3/precinct.geojson
HW3/precinct
HW3/HW3.html
HW3/plot.png
HW3.Rplot.pdf